<div class="container">
  <h1 class="text-center">Listagem de itens</h1>
  <br />

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Descrição" [(ngModel)]="descricaoParcial">
    <div class="input-group-btn">
      <button mat-raised-button color="primary" (click)="pesquisar()"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </div>

  <br />

  <table class="table">
    <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Observação</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of itens">
      <th>{{item.codigo}}</th>
      <th>{{item.descricao}}</th>
      <th>{{item.valor | currency:'BRL':false}}</th>
      <th>{{item.observacao}}</th>
      <th>
        <button mat-raised-button color="primary" (click)="abrirModal(item)">Alterar preço</button>
      </th>
    </tr>
    </tbody>
  </table>
</div>
