<h1 class="text-center">Cadastrar pedido</h1>
<br />

<form>
    <div class="form-group">
        <label for="txtCliente">Cliente</label>
        <input type="text" class="form-control" id="txtCliente" [(ngModel)] = "pedido.cliente">
    </div>
    <div class="form-group">
        <label for="txtDataPedido">Data do Pedido</label>
        <input type="text" class="form-control" id="txtDataPedido" [(ngModel)] = "pedido.dataPedido">
    </div>
    <div class="form-group">
        <label for="txtTelefone">Telefone</label>
        <input type="text" class="form-control" id="txtTelefone" [(ngModel)] = "pedido.telefone">
    </div>
    <div class="form-group">
        <label for="txtValorTotalPedido">Valor Total do Pedido</label>
        <input type="text" class="form-control" id="txtValorTotalPedido" [(ngModel)] = "pedido.valorTotalPedido">
    </div>
    <div class="form-group">
        <label for="txtStatusPedido">Status do Pedido</label>
        <input type="text" class="form-control" id="txtStatusPedido" [(ngModel)] = "pedido.statusPedido">
    </div>
</form>