<div class="container">
  <h1 class="text-center">Cadastro de itens</h1>
  <br/>
  <form name="formCadastro" (submit)="salvarItem($event)">
    <div class="form-group">
      <label for="txtDescricao">Descrição</label>
      <input matInput id="txtDescricao" name="txtDescricao" class="form-control" [(ngModel)]="item.descricao">
    </div>
    <div class="form-group">
      <label for="txtValor">Valor</label>
      <input type="number" id="txtValor" name="txtValor" class="form-control" [(ngModel)]="item.valor">
    </div>
    <div class="form-group">
      <label for="txtObservacao">Observação</label>
      <textarea id="txtObservacao" class="form-control" name="txtObservacao" rows="4" [(ngModel)]="item.observacao"></textarea>
    </div>
    <hr>
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary" >Salvar</button>
    </div>
  </form>
</div>

