
<h3>Cadastro de item</h3>
<form name="formCadastro">
  <div class="form-group">
    <label for="txtDescricao">Descrição</label>
    <input matInput id="txtDescricao" class="form-control">
  </div>
  <div class="form-group">
    <label for="txtValor">Valor</label>
    <input type="number" id="txtValor" class="form-control">
  </div>
  <div class="form-group">
    <label for="txtObservacao">Observação</label>
    <textarea id="txtObservacao" class="form-control" rows="4"></textarea>
  </div>
  <hr>
  <div class="form-group">
    <button mat-raised-button color="primary">Salvar</button>
  </div>
</form>


